<% if(locals.flash && locals.flash.error) { %>
<div class="ui negative message">
<% if(typeof errorsLogin!= 'undefined') { %>
    <%    errorsLogin.forEach(function(error){ %>
    <p> <%= error.msg %></p>
    <%    })        %>
    <% } %>
</div>
<% } %>