<!DOCTYPE html>
<html>
<head>
    <title>Dites un mot gentil !</title>
</head>

<link rel="stylesheet" href="/assets/semantic/semantic.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/style.css" media="all" />
    
<body>
    <div class="ui fixed inverted menu">
        <a href="/" class="header item">Accueil</a>
        <a href="/login" class="header item">Login</a>
    </div>