<%- include ('./header.ejs') %>
   
<div class="ui main container">
<h2>Login</h2>
<form action="/login" method="POST">

  <%- include ('../partials/errorsLogin') %>

  <div class="editableZone">
    <label for="email">E-mail : </label>
    <input
    type="email"
    name="email"
    placeholder="Entrez votre e-mail"
    class="inputs"
    />
  </div>
  <div class="editableZone">
      <label for="password">Mot de passe : </label>
      <input
        type="password"
        name="password"
        placeholder="Entrez votre mot de passe"
        class="inputs"
      />
  </div>
  <button type="submit" class="ui blue labeled submit icon button">
    <i class="arrow circle right icon"></i>Login
  </button>  
  </form>
  <p class="goTo">Pas encore inscrit ?<a href="/register"> S'inscrire</a></p>
  </div>

<%- include ('./footer.ejs') %>